{% extends "base.html" %}

<head>
  <meta charset="utf-8">
  <title>Bootstrap Carousel Example</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="./css/carousel-override.css" rel="stylesheet">-->
  <style>
	<link href="../static/css/carousel-override.css" rel="stylesheet">
  </style>
</head>

{% block body %}

<body>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="/static/images/start.jpeg"></img>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      
     {% for item in images %}
      <div class="carousel-item">
          <img src={{ item }} ></img>
          
              <div class="container">
                  <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
              </div>
      </div>
     {% endfor %}
      
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <script src="../static/js/bootstrap.bundle.min.js"></script>

     
</body>
{% endblock %}
</html>
